body{
	margin: 0;
}
.icon{
	display: flex;
	background: transparent;
	/*border: 1px dotted black;*/
	/*border-top: 5px solid green; */
	width: 50px;
	height: auto;
}
.tab{
	/*display: inline-block;*/
	background-color: violet;
	height: 50px;
	width: 50%;
	border-top: 5px solid violet;
}
.foldergap{
	/*display: inline;*/
	background-color: violet;
	height: 50px;
	width: 50%;
/*	check colours against real
*/	border-top: 5px solid lightgreen;
}
.foldertitle{
	position: absolute;
}
#desktop{
	height: 1024px;
	background: lightgreen;
}
#bar{
	width: 100%; 
	height: 20px;
	background: cornflowerblue;
}
#start{
	text-align: center;
	list-style: none;
	position: absolute;
	background: salmon;
	width: 120px; 
	height: 20px;
	overflow: hidden;
}
#start:hover {
	height: 190px;
}
#start li {
	text-align: left;
	padding: 8px;
}
#start li:hover{
	background-color: pink;
}